<div class="d-flex flex-column @CssClass">
    <RadzenDatePicker TValue="DateTime" ShowTime="@ShowTime" ShowSeconds="@ShowSeconds" @bind-Value="@Value" Change=@(async args => {  Value = args ?? DateTime.Now; await ValueChanged.InvokeAsync(Value); }) DateFormat="@DateFormat" Class="w-100"/>
    @if (ShowMilliseconds)
    {
        <RadzenLabel Text="Milliseconds (0-999): "/>
        
        <MillisecondTextBox Value="@Value" ValueChanged="@(async arg => { Value = arg ?? DateTime.Now; await ValueChanged.InvokeAsync(Value); })" />
    }
</div>
